tmp/
bower_components/
dist/
/.bundle
#/platforms

.bundle/
bundle
bin/
/node_modules

../.idea/
.idea/

.module-cache
*.module-cache/*
src/tmp/

upload/

ws_*

*.map
*.exe
*.exe;
play/img/*
play/**/*.jpg
play/**/*.jpeg
play/**/*.png
play/**/*.zip
play/**/*.exe
play/**/*.svg
public/
/public/
/upload
*.exe
*.exe~
/.idea
*.sublime-*
log*
logs/
