tmp/
bower_components/
dist/
/.bundle
#/platforms

.bundle/
bundle
bin/
/node_modules

../.idea/
.idea/

.module-cache
*.module-cache/*
src/tmp/

upload/


*.map
*.exe
*.exe;
play/img/*
play/*.jpg
play/*.jpeg
play/*.png
play/*.zip
public/
/public/
/upload
*.exe
/.idea
*.sublime-*
